<!-- Header -->
<app-header></app-header>

<!-- Banner -->
<section class="banner relative w-full h-64 sm:h-80 lg:h-96 bg-cover bg-center"
  style="background-image: url('assets/images/banner.jpg');">
  <div class="absolute inset-0 bg-green-500 bg-opacity-50 flex items-center justify-center">
    <div class="text-center text-white px-4">
      <h2 class="text-3xl sm:text-4xl lg:text-5xl font-bold mb-2">
        🎊 Chào mừng bạn đến với Event App 🎊
      </h2>
      <p class="text-lg sm:text-xl">Khám phá và đặt vé sự kiện dễ dàng, nhanh chóng</p>
    </div>
  </div>
</section>

<!-- Explore Events -->
<section class="hero bg-gray-50 py-8 px-6 w-full mx-auto sm:px-8 lg:px-32">
  <div class="">
    <h2 class="text-3xl font-bold mb-6">Explore Events</h2>

    <!-- Filter theo Category -->
    <div class="flex flex-wrap gap-3 mb-4">
      <button *ngFor="let cat of categories" (click)="filterByCategory(cat)" [ngClass]="{
                'bg-green-100 text-green-600 font-semibold border-b-2 border-green-500': activeCategoryId === cat.id,
                'bg-white text-black': activeCategoryId !== cat.id
              }" class="px-4 py-2 rounded font-medium hover:bg-gray-100">
        {{ cat.name }}
      </button>
    </div>
  </div>
  <div class="product-list grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-6 p-6"
    *ngIf="filteredEvents.length > 0; else noData">
    <div class="product-card shadow-lg rounded-xl overflow-hidden hover:shadow-2xl transition"
      *ngFor="let ev of filteredEvents">
      <a [routerLink]="['/eventDetail', ev.id]" class="block h-full">
        <img [src]="ev.thumbnail" alt="{{ ev.name }}" class="product-img w-full h-48 object-cover">
        <div class="card-content p-4">
          <h3 class="text-lg font-semibold mb-2">{{ ev.name }}</h3>
          <p><strong>Giá vé:</strong> {{ ev.priceFrom | currency:'VND' }}</p>
          <p><strong>Bắt đầu:</strong> {{ ev.date | date:'dd/MM/yyyy' }}</p>
          <p><strong>Thời gian:</strong> {{ ev.time }}</p>
 
        </div>
      </a>
    </div> 
  </div>

  <!-- Trường hợp không có dữ liệu -->
  <ng-template #noData>
    <div class="max-w-6xl mx-auto p-6 text-center text-gray-500">
      Chưa có sự kiện phù hợp.
    </div>
  </ng-template>
</section>