<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white rounded-2xl shadow-xl w-1/3 relative">
    <h2 class="text-xl font-bold text-gray-800 my-6 px-10">
      {{ title }}
    </h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="space-y-5 max-h-[400px] overflow-y-auto custom-scroll px-10 pb-4">
        <div *ngFor="let field of fields" class="space-y-2">
          <div *ngIf="currentAction === 'view'" class="grid grid-cols-2 gap-1 mr-4">
              <div class="w-40 font-medium text-gray-700">
                {{ field.label }}:
              </div>
              <div class="flex-1 text-gray-900">
                {{ form.get(field.name)?.value || '-' }}
              </div>
          </div>
          <div *ngIf="currentAction !== 'view'">
            <label *ngIf="field.type !== 'checkbox'" class="font-medium text-gray-700 block">
              {{ field.label }}:
              <span *ngIf="field.required" class="text-red-500">*</span>
            </label>
            <div *ngIf="field.type === 'checkbox'" class="flex flex-col gap-2">
              <label class="text-gray-700 font-medium">{{ field.label }}:</label>
  
              <div *ngFor="let option of field.options" class="flex items-center gap-2">
                <input
                  type="checkbox"
                  [id]="field.name + '-' + option.value"
                  [value]="field.name"
                  [formControlName]="field.name"
                  class="h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-2 focus:ring-blue-500 cursor-pointer"
                />
                <label
                  [for]="field.name + '-' + option.value"
                  class="text-gray-700 cursor-pointer"
                >
                  {{ option.label }}
                </label>
              </div>
            </div>

            <input
                *ngIf="field.type === 'text' || field.type === 'email' || field.type === 'password'"
                [type]="field.type"
                [formControlName]="field.name"
                class="border border-gray-300 rounded-lg px-4 py-3 w-full bg-gray-100 text-base focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
  
            <div *ngIf="field.type === 'date'">
              <input
                type="datetime-local"
                class="border border-gray-300 mt-3 rounded-lg px-4 py-3 w-full bg-gray-100 text-base focus:outline-none focus:ring-2 focus:ring-blue-500"
                [value]="form.get('lockoutEnd')?.value ? form.get('lockoutEnd')?.value.substring(0,16) : ''"
                (input)="form.get('lockoutEnd')?.setValue($any($event.target).value + ':00')"
              />
            </div>

            <div *ngIf="field.type === 'select'">
              <select
                [formControlName]="field.name"
                class="border border-gray-300 mt-3 rounded-lg px-4 py-3 w-full bg-gray-100 text-base focus:outline-none focus:ring-2 focus:ring-blue-500"
              >
                <option *ngFor="let opt of field.options" [value]="opt.value">
                  {{ opt.label }}
                </option>
              </select>
            </div>
            <div *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched"
                class="text-red-500 text-sm mt-1">
              {{ getErrorMessage(field.name) }}
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-end gap-3 py-4 px-10 border-t">
        <button 
          type="button" 
          (click)="close.emit()" 
          class="px-5 py-2 rounded-lg bg-gray-100 text-gray-700 hover:bg-gray-200 transition">
          Hủy
        </button>
        <button 
          *ngIf="currentAction !== 'view'"
          type="submit" 
          class="px-5 py-2 rounded-lg bg-gray-600 text-white font-medium hover:bg-gray-700 transition">
          Lưu
        </button>
      </div>
    </form>
  </div>
</div>
