<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <form [formGroup]="registerForm" (ngSubmit)="submitDetails()" class="register-form">
    <p-card header="Đăng ký" [style]="{ width: '380px' }" class="p-shadow-4 mb-2">
      <!-- FullName -->
      <div class="field">
        <label for="userName">Họ và tên*</label>
        <input
          type="text"
          pInputText
          formControlName="userName"
          class="w-full"
        />
        <small *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="block p-error">
          <div *ngIf="userName.errors?.['required']">Tên bắt buộc.</div>
          <div *ngIf="userName.errors?.['pattern']">Nhập tên đúng</div>
        </small>
      </div>

      <!-- Email -->
      <div class="field">
        <label for="email">Email*</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          class="w-full"
        />
        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
          <div *ngIf="email.errors?.['required']">Email là bắt buộc.</div>
          <div *ngIf="email.errors?.['email']">Email phải tồn tại</div>
        </small>
      </div>

      <!-- Password -->
      <div class="field">
        <label for="password">Mật khẩu*</label>
        <input
          type="password"
          pInputText
          formControlName="password"
          class="w-full"
        />
        <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
          <div *ngIf="password.errors?.['required']">Mật khẩu là yêu cầu.</div>
        </small>
      </div>

      <!-- Confirm Password -->
      <div class="field">
        <label for="confirmPassword">Nhập lại mật khẩu*</label>
        <input
          type="password"
          pInputText
          formControlName="confirmPassword"
          class="w-full"
        />
        <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="block p-error">
          <div *ngIf="confirmPassword.errors?.['required']">Mật khẩu là yêu cầu.</div>
        </small>
        <small class="block p-error" *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid">
          Mật khẩu phải khớp
        </small>
      </div>

      <!-- Button -->
      <p-button
        label="Đăng ký"
        styleClass="w-full mt-3"
        [disabled]="registerForm.invalid"
        type="submit"
      ></p-button>

      <!-- Footer -->
      <div class="text-center mt-3">
        Bạn đã có tài khoản? <a routerLink="/login" class="link">Đăng nhập</a>
      </div>
    </p-card>
  </form>
</div>

<router-outlet></router-outlet>
<p-blockUI [blocked]="loading" [autoZIndex]="true">
  <p-progressSpinner styleClass="w-12 h-12"></p-progressSpinner>
</p-blockUI>