.register-form {
  margin-top: 50px;
}

.field {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
}

input[pInputText] {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: border 0.2s ease;
}

input[pInputText]:focus {
  border-color: #3b82f6; /* xanh dương */
  box-shadow: 0 0 4px rgba(59, 130, 246, 0.5);
  outline: none;
}

.p-error {
  font-size: 0.8rem;
  margin-top: 4px;
  color: #dc2626; /* đỏ */
}

.link {
  color: #3b82f6;
  font-weight: 500;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
