<div class="m-5">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-bold">Quản lý người dùng</h2>
<!--  *ngIf="permissionService.hasPermission(constPer.Identity.Users.Create)" -->
      <p-button label="Tạo mới" size="small" icon="pi pi-plus" (click)="openAdd()"/>
    </div>

    <div class="p-4 mb-4 border rounded-md bg-white shadow-sm">
      <div class="flex items-center gap-2">
        <app-search class="flex-1" (search)="onSearchHandler($event)"></app-search>
        <p-button 
          label="Lọc" iconPos="right"
          (click)="showFilter = !showFilter"
          [icon]="showFilter ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
        />
      </div>

      <div *ngIf="showFilter" class="mt-5">
        <app-filter-form 
          [fields]="filterFields"
          (submitFilter)="onFilterSubmit($event)"
          (exportFilter)="exportExcel()">
        </app-filter-form>
      </div>
    </div>

    <table-component
      [columns]="columns" 
      [data]="users"
      [actions]="actions">
  </table-component>
</div>

<ng-container *ngIf="showModalPermissions">
  <app-permissions-modal
    [selected]="selectedUser"
    [checkPermissions]="userPermissions"
    [entityType]="'user'"
    (cancel)="showModalPermissions = false">
  </app-permissions-modal>
</ng-container>

<app-modal-form
  *ngIf="showModalForm"
  [title]="modalTitle"
  [fields]="activeFields"
  [formData]="modelFormData"
  [currentAction]="currentAction"
  (save)="onSave($event)"
  (close)="showModalForm=false"
></app-modal-form>

<app-modal-tab-form
  *ngIf="showModalUser"
  [modalTitle]="modalTitle"
  [formData]="modelFormData"
  [currentAction]="currentAction"
  (save)="onSave($event)"
  (close)="showModalUser=false"
>
</app-modal-tab-form>

<app-popup
  [show]="showConfirm"
  title="Xác nhận"
  message="Bạn có muốn xóa bản ghi này?"
  (confirm)="onDeleteConfirmed()"
  (cancel)="onDeleteCancelled()">
</app-popup>