<div class="p-6">
  <div class="flex items-center mb-5">
    <i class="pi pi-calendar font-bold mr-2"></i>
    <h1 class="text-xl font-bold">Sự kiện</h1>
  </div>

  <div class="bg-white rounded-lg shadow p-4 mb-5">
    <div class="flex flex-wrap gap-3 justify-between mt-5">
      <div class="relative w-full md:w-72">
        <input
          type="text"
          placeholder="Tìm kiếm bằng tên, trạng thái"
          [(ngModel)]="searchText"
          (keyup.enter)="onSearch()"
          class="w-full border rounded-lg pl-10 pr-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-green-500"
        />
        <i (click)="onSearch()" class="fas fa-search absolute left-3 top-2.5 text-gray-400"></i>
      </div>

      <div class="flex gap-1">
        <ng-container *ngFor="let option of filterOptions">
          <p-button
            [label]="option.label"
            size="small"
            [outlined]="selectedFilter !== option.value"
            (onClick)="filter(option.value)"
            styleClass="min-w-[100px]">
          </p-button>
        </ng-container>
      </div>
    </div>
  <div>
    <app-event-item  
      *ngFor="let ev of events" 
      [event]="ev">
  </app-event-item>
  </div>
</div>
