<div class="p-6">
  <div class="flex items-center mb-5">
    <i class="pi pi-calendar font-bold mr-2"></i>
    <h1 class="text-xl font-bold">Sự kiện</h1>
  </div>

  <div class="bg-white rounded-lg shadow p-4 mb-5">
      <div class="flex flex-wrap gap-5 justify-between">
        <app-search class="flex-1" (search)="onSearchHandler($event)"></app-search>
        <div class="flex gap-1">
          <ng-container *ngFor="let option of filterOptions">
            <p-button
              [label]="option.label"
              [outlined]="selectedFilter !== option.value"
              (onClick)="filter(option.value)"
              styleClass="min-w-[100px]">
            </p-button>
          </ng-container>
        </div>
      </div>
      <div *ngIf="events.length > 0; else emptyTemplate">
        <app-event-item  
          *ngFor="let ev of events" 
          [event]="ev"
          (updated)="reloadEvents()">
        </app-event-item>
      </div>

      <ng-template #emptyTemplate>
        <div class="p-6 text-center text-gray-500">
          <i class="fa-regular fa-calendar-xmark text-4xl mb-2"></i>
          <p>Không có sự kiện nào.</p>
        </div>
      </ng-template>
  </div>
