<div class="p-4 rounded m-5">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-bold">Roles</h2>
    <button class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">+ New Role</button>
  </div>

  <div class="p-4 mb-4 border rounded-md bg-white shadow-sm">
    <app-search></app-search>
  </div>

  <table class="bg-white w-full table-auto border border-gray-200">
      <thead>
        <tr>
          <th class="p-4 text-left w-1/4">Actions</th>
          <th class="p-4 text-left w-2/4">Role Name</th>
          <th class="p-4 text-left w-1/4">Count</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles; trackBy: trackByRoleId" class="border-t border-gray-200 hover:bg-gray-50">
          <td class="p-4 relative">
            <button (click)="toggleDropdown(role.id)" class="bg-green-600 text-white px-2 py-1 rounded"><i class="fa-solid fa-gear"></i> Actions</button>
            <div *ngIf="dropdownOpen === role.id" class="absolute left-0 mt-1 bg-white border border-gray-300 rounded shadow w-40 z-10">
              <ul>
                <li class="p-4 hover:bg-gray-100 cursor-pointer">Edit</li>
                <li class="p-4 hover:bg-gray-100 cursor-pointer">Delete</li>
                <li class="p-4 hover:bg-gray-100 cursor-pointer" (click)="openPermissionsModal(role)">Permissions</li>
                <li class="p-4 hover:bg-gray-100 cursor-pointer">Move all users</li>
              </ul>
            </div>
          </td>
          <td class="p-4">{{ role.name }}</td>
          <td class="p-4">{{ role.userCount }}</td>
        </tr>
      </tbody>
    </table>

</div>

<ng-container *ngIf="showModal">
  <app-permissions-modal
    [permissionGroups]="permissionGroups"
    [groupedPermissions]="groupedPermissions"
    (cancel)="showModal = false">
  </app-permissions-modal>
</ng-container>


