<!-- Modal -->
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white rounded-lg w-2/3 max-w-3xl p-6 relative">

    <!-- Header -->
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold">Phân quyền</h2>
      <button class="text-gray-500 hover:text-gray-800" (click)="close()">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <app-search></app-search>

    <div class="flex gap-6 p-5 rounded border mt-5">
      <div class="w-1/2 pr-4">
        <div 
          [ngClass]="{
            'bg-teal-100 text-green-800': selectedGroup === 'IdentityManagement',
            'border border-gray-300 bg-white text-gray-700': selectedGroup !== 'IdentityManagement'
          }"
          class="cursor-pointer rounded p-3 my-2"
          (click)="selectGroup('IdentityManagement')">
          Quản lý danh tính
        </div>
        <div 
          [ngClass]="{
            'bg-teal-100 text-green-800': selectedGroup === 'AuditLogging',
            'border border-gray-300 bg-white text-gray-700': selectedGroup !== 'AuditLogging'
          }"
          class="cursor-pointer rounded p-3 my-2"
          (click)="selectGroup('AuditLogging')">
          Ghi nhật ký
        </div>
      </div>


      <!-- Right: Permissions -->
      <div class="w-4/5 pr-4 max-h-60 overflow-y-auto scroll-left">
        <label class="flex content-ltr ml-5 cursor-pointer border-b border-gray-300 pb-2">
          <input type="checkbox" class="mr-2">
          Select all
        </label>
        <div *ngIf="selectedGroup === 'IdentityManagement'" class="content-ltr ml-5 mt-2">                  
          <div *ngFor="let group of groupedPermissions | keyvalue">
            <div class="flex items-center space-x-2">
              <input 
                type="checkbox"
                [checked]="isGroupAllChecked(group.value)"
              />
              <h3 class="font-bold mb-2">{{ group.key }}</h3>
            </div>
            <ul>
              <li *ngFor="let perm of group.value" class="flex items-center space-x-2 mb-1 ml-5">
                <input
                  type="checkbox"
                  [(ngModel)]="perm.isGranted"
                  (change)="onPermissionChange(perm)"
                />
                <label>{{ perm.action }}</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="content-ltr ml-5" *ngIf="selectedGroup === 'AuditLogging'">
          as
        </div>
      </div>
    </div>

    <div class="flex justify-end space-x-2 mt-4">
      <button 
        class="px-4 py-2 rounded bg-gray-400 text-white hover:bg-gray-600"
        (click)="close()">
        Đóng
      </button>
       <button class="px-4 py-2 rounded bg-green-500 text-white hover:bg-green-600"
       (click)="onSave()">
        Lưu
      </button>
    </div>

  </div>
</div>