<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <div class="min-w-[420px] bg-white rounded-lg w-2/3 max-w-3xl p-6 relative">
    <!-- Header -->
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold">Phân quyền</h2>
      <button class="text-gray-500 hover:text-gray-800" (click)="close()">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <app-search (search)="onSearchHandler($event)"></app-search>

    <div class="flex gap-6 p-5 rounded border mt-5">
      <div class="w-1/2 pr-4">
        <div *ngFor="let group of filteredGroups"
          [ngClass]="{
              'bg-green-100 text-green-600 hover:bg-green-100': selectedGroup === group.key,
              'border border-gray-300 bg-white text-gray-700': selectedGroup !== group.key}"
          class="cursor-pointer rounded p-3 my-2 shadow"
          (click)="selectGroup(group.key)">
        {{ group.label }}
      </div>

      </div>
      <!-- Right: Permissions -->
      <div class="w-4/5 pr-4 max-h-60 overflow-y-auto scroll-left">
        <div *ngIf="selectedGroup === 'IdentityManagement'" class="content-ltr ml-5 mt-2"> 
          <label class="flex content-ltr cursor-pointer border-b border-gray-300 pb-2">
            <input type="checkbox" (change)="toggleAllPerm($event.target.checked)" class="mr-2">
            Chọn tất cả
          </label>                 
          <div *ngFor="let group of groupedPermissions | keyvalue">
            <div class="flex items-center space-x-2">
              <input 
                type="checkbox"
                [checked]="isGroupAllChecked(group.value)"
                [disabled]="isGroupAllDisabled(group.value)"
                (change)="toggleGroup(group.value, $event.target.checked)"
              />
              <h3 class="font-bold mb-2">{{ groupViMap[group.key] || group.key }}</h3>
            </div>
            <ul>
              <li *ngFor="let perm of group.value" class="flex items-center space-x-2 mb-1 ml-5">
                <input
                  type="checkbox"
                  [(ngModel)]="perm.isGranted"
                  (change)="onPermissionChange(perm)"
                  [disabled]="perm.roleEnable"
                />
                <label [class.text-gray-400]="perm.roleEnable">
                  {{ permissionViMap[perm.action] || perm.action}}
              </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="content-ltr ml-5" *ngIf="selectedGroup === 'AuditLogging'">
          as
        </div>
      </div>
    </div>

    <div class="flex justify-end space-x-2 mt-4">
      <p-button severity="secondary" label="Đóng" (onClick)="close()" ></p-button>
      <p-button label="Lưu" (onClick)="onSave()"></p-button>
    </div>
  </div>
</div>