<div class="p-6 space-y-6">
  <!-- Header -->
  <div class="flex flex-wrap items-center justify-between bg-white rounded-xl shadow p-4">
    <div class="flex items-center mb-5">
      <i class="pi pi-chart-bar font-bold mr-2"></i>
      <h1 class="text-xl font-bold">Tổng quan</h1>
    </div>
    <button
      (click)="openAdd()"
      class="flex items-center px-3 py-1 border border-gray-300 rounded-md hover:bg-gray-50">
      <i class="pi pi-plus mr-2"></i>
      Thêm tổ chức
    </button>
  </div>

  <!-- Stats cards -->
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div 
      *ngFor="let item of stats" 
      class="text-white rounded-xl shadow p-6 flex flex-col justify-between"
      [ngClass]="item.bg">
      <div>
        <p class="uppercase text-sm">{{ item.title }}</p>
        <h3 class="text-2xl font-bold mt-2">{{ item.value }}</h3>
      </div>    
      <p class="text-xs mt-2">{{ item.change }}</p>
    </div>
  </div>


  <div class="bg-white rounded-xl shadow p-4 mt-2">
    <div class="flex justify-between items-center mb-4">
      <label for="chartType" class="font-medium">Chọn dữ liệu:</label>
      <select id="chartType" [(ngModel)]="selectedMetric" (change)="updateChart()" class="border px-3 py-2 rounded">
        <option value="revenue">Doanh thu</option>
        <option value="orders">Đơn đặt hàng</option>
        <option value="views">Lượt xem trang</option>
        <option value="tickets">Bán vé</option>
      </select>
    </div>

    <canvas id="myChart" class="w-full h-64"></canvas>
  </div>
</div>

<app-modal-form
  *ngIf="showModalForm"
  [title]="modalTitle"
  [fields]="modalFields"
  [formData]="modelFormData"
  (save)="onSave($event)"
  (close)="showModalForm=false"
></app-modal-form>