@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Aya Script', sans-serif;
}

.custom-scroll {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}

.scroll-left {
  direction: rtl; /* đảo thanh cuộn sang trái */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}

.content-ltr {
  direction: ltr;
}

/* Base */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background-color: #ececec;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  border: 2px solid #ccc;
}

/* Focus */
input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.3);
}

/* Checked */
input[type="checkbox"]:checked {
  background-color: #10b981; /* xanh đậm */
  border-color: #10b981;
}

/* Tick */
input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Disabled (chưa check) */
input[type="checkbox"]:disabled {
  background-color: #f3f4f6; /* Tailwind gray-100 */
  border-color: #d1d5db; /* gray-300 */
  cursor: not-allowed;
  opacity: 0.8;
}

/* Disabled + Checked */
input[type="checkbox"]:disabled:checked {
  background-color: #9ca3af; /* Tailwind gray-400 */
  border-color: #9ca3af;
}

input[type="checkbox"]:disabled:checked::after {
  border-color: #fff;
}
