<div class="p-4 rounded m-5">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-bold">Quản lý quyền</h2>
    <p-button label="Tạo quyền" size="small" icon="pi pi-plus" (click)="openAdd()"/>
   </div>

  <div class="p-4 mb-4 border rounded-md bg-white shadow-sm">
      <app-search (search)="onSearchHandler($event)"></app-search>
  </div>

  <table-component
      [columns]="columns" 
      [data]="roles"
      [actions]="actions">
  </table-component>
</div>
<ng-container *ngIf="showModal">
  <app-permissions-modal
    [selected]="roleSelect"
    [checkPermissions]="rolePermission"
    [entityType]="'role'"
    (cancel)="showModal = false">
  </app-permissions-modal>
</ng-container>

<app-modal-form
  *ngIf="showModalForm"
  [title]="modalTitle"
  [fields]="modalFields"
  [formData]="modelFormData"
  (save)="onSave($event)"
  (close)="showModalForm=false"
></app-modal-form>

<app-popup
  [show]="showConfirm"
  title="Xác nhận"
  message="Bạn có muốn xóa bản ghi này?"
  (confirm)="onDeleteConfirmed()"
  (cancel)="onDeleteCancelled()">
</app-popup>