<p-menubar [model]="items">
  <!-- Logo -->
  <ng-template pTemplate="start">
    <div class="flex items-center gap-2">
      <div class="flex items-center gap-2 font-bold text-xl">
        <span class="bg-green-600 text-white rounded-full flex items-center justify-center w-8 h-8">
          B
        </span>
        Barren
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="item" let-item>
    <a class="flex items-center no-underline px-2 text-gray-800 hover:text-green-600">
      <i [class]="item.icon + ' mr-2'"></i>
      <span>{{ item.label }}</span>
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex items-center gap-3">
      <button class="bg-green-600 text-white flex items-center px-3 py-2 rounded hover:bg-green-700">
        <i class="fa-solid fa-calendar mr-2"></i>
        Create Event
      </button>
      <img src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
           class="rounded-full"
           alt="avatar"
           width="32" height="32">
      <button class="p-2 text-gray-600 hover:text-gray-900">
        <i class="fa-solid fa-gear"></i>
      </button>
    </div>
  </ng-template>
</p-menubar>
